:root {
  --text: #ffffff;
  --text-h: #f4f4f4;
  --bg: #ffffff;
  --border: #e5e4e7;
  --window-bg: #90badc;
  --window-border: 1px solid #0c2143;
  --button: #7a9db9;
  --button-t: #8ed9f2;
  --button-hover: #3c4d5c;
  --button-active: #354552;
  --icon: #000000;
  --input-bg: #e9d2d2;
  
  --root-padding: 8px;

  --treb: 'Trebuchet MS', sans-serif;
  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;
  --heading: system-ui, 'Segoe UI', Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;
  --cursive: 'Brush Script MT', cursive;

  font: 18px/145% var(--treb);
  letter-spacing: 0.18px;
  color-scheme: light dark;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;

}

@media (prefers-color-scheme: dark) {
  :root {
    --text: #d7d8ef;
    --text-h: #0b485d;
    --bg: #16171d;
    --border: #2e303a;
    --code-bg: #1f2028;
    --window-bg: #437196;
    --window-border: 1px solid #1d3762;
    --button: #083d69;
    --button-t: #6eb2c8;
    --button-hover: #093157;
    --button-active: #354552;
    --icon: #ffffff;
    --input-bg: #e2e9fc;

  }
}

/* @media (max-aspect-ratio: 3/4) {
    :root {
  }

  .modal {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: max-content;
  }
} */

* {
  margin: 0;
  text-align: center;
  user-select: none;
}

header {
  color: var(--text);
  padding: 0.2em;
  border-bottom: var(--window-border);
  /* font-size: 20px; */
  font-weight: 800;
}

h2 {
  color: var(--text);
  padding-inline: 0.2em;
}

p {
  text-align: left;
}

button {
  width: 100%;
  background-color: var(--button);
  color: var(--text);
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: var(--button-hover);  
}

button:active {
  background-color: var(--button-active);
}

form {
  padding-inline: .25em;
}

input {
  background-color: var(--input-bg);
  color: #201636;
  padding-inline: .3em;
  /* width: 97%; */
  height: 1rem;
  font-weight: 600;
  text-align: left;
  vertical-align: top;
  outline: none;
}

input::placeholder {
  color: #404145;
}

input[type="checkbox"] {
  vertical-align: middle;
}

.rotate {
    opacity: .4;
    transition: 
    transform 0.2s ease-in-out,
    opacity 0.2s ease-in-out;
}

.rotate:hover {
    transform: rotate(45deg);
    opacity: 1;
    cursor: pointer;
}

.wrong {
  /* color: red; */
  border-color: red;
}

.window {
  background-color: var(--window-bg);
  border: var(--window-border);
  border-radius: 0.2em;
}

.modal {
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 10;
}

/* The box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 2em;
  height: 1em;
}

/* Hide default HTML checkbox */
.switch input {
  visibility: hidden;
}

/* The slider track */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0; left: 0; right: 0; bottom: 0;
  background-color: #cccccc;
  transition: .4s;
  /* border-radius: 16px; */
  border-radius: 1em;
}

/* The circular slider button */
.slider:before {
  position: absolute;
  content: "";
  height: 1em;
  width: 1em;
  left: 0;
  background-color: white;
  transition: .4s;
  border-radius: 50%;
}

/* Style when the checkbox is checked */
input:checked + .slider {
  background-color: #2196F3;
}

input:checked + .slider:before {
  transform: translateX(1em);
}